<label>список заказов за месяц </label>
<select [ngModel]="monthYear" (change)="selectMountYear($event.target.value)">
  <option *ngFor="let item of monthYearListArr" [value]="item">{{item}}</option>
</select>
<p>Сегодня: {{date}}</p>
<button (click)="temp()">проверка</button>
<table>
  <thead>
  <th>numberOrder</th>
  <th>dateOrder</th>
  <th>brandPhone</th>
  <th>modelPhone</th>
  </thead>
  <tbody>
  <tr *ngFor="let item of arrOrders">
    <td>{{item.numberOrder}}</td>
    <td>{{item.dateOrder}}</td>
    <td>{{item.brandPhone}}</td>
    <td>{{item.modelPhone}}</td>
  </tr>
  </tbody>
</table>
