<!--<div>{{tempDataSours | async | json}}</div>-->

<label>список заказов за месяц </label>
<select [ngModel]="monthYear" (change)="selectMountYear($event.target.value)">
  <option *ngFor="let item of monthYearListArr" [value]="item">{{item}}</option>
</select>
<p>Сегодня: {{date}}</p>
<button (click)="temp()">проверка</button>
<hr>
<div class="tableWrap">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSourceFilter" class="mat-elevation-z8">

    <ng-container matColumnDef="numberOrder">
      <th mat-header-cell *matHeaderCellDef> № </th>
      <td mat-cell *matCellDef="let element"> {{element.numberOrder}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Статус заказа </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="dateOrder">
      <th mat-header-cell *matHeaderCellDef> Дата </th>
      <td mat-cell *matCellDef="let element"> {{element.dateOrder}} </td>
    </ng-container>

    <ng-container matColumnDef="brandPhone">
      <th mat-header-cell *matHeaderCellDef> Модель Аппарата </th>
      <td mat-cell *matCellDef="let element"> {{element.brandPhone}} </td>
    </ng-container>

    <ng-container matColumnDef="modelPhone">
      <th mat-header-cell *matHeaderCellDef>Мобильный номер</th>
      <td mat-cell *matCellDef="let element"> {{element.modelPhone}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="getOrder(row)" ></tr>
  </table>
</div>

