<div>
  <form [formGroup]="order" (ngSubmit)="createOrder()">
    <label>numberOrder</label>
    <input type="text" formControlName="numberOrder">
    <label>dateOrder</label>
    <input type="text" #dateOrder formControlName="dateOrder">
    <label>brandPhone</label>
    <input type="text" formControlName="brandPhone">
    <label>modelPhone</label>
    <input type="text" formControlName="modelPhone">
    <button type="submit">Сформировать Заказ</button>
  </form>
</div>

<div>
  <pre>{{order.value | json}}</pre>
</div>
