<div>
  <form [formGroup]="order" (ngSubmit)="createOrder()">
    <label>numberOrder</label>
    <input type="text" [value]="newNumberOrder" formControlName="numberOrder">
    <label>dateOrder</label>
    <input type="text" formControlName="dateOrder">
    <label>brandPhone</label>
    <input type="text" formControlName="brandPhone">
    <label>modelPhone</label>
    <input type="text" formControlName="modelPhone">

    <button type="submit">Сформировать Заказ</button>

  </form>
</div>

<div>
  <pre>{{order.value | json}}</pre>
</div>

<button type="submit" (click)="loadBase()">загрузить базу</button>
<button type="submit" (click)="checkBase()">проверить базу</button>
