<mat-card>
  <div class="form_wrap">
    <form [formGroup]="order" (ngSubmit)="createOrder(order)" class="example-form">
        <ng-content select="p"></ng-content>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Номер заказа" formControlName="numberOrder">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Дата заказа" formControlName="dateOrder">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Имя клиента" formControlName="nameClient">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Мобильный номер" formControlName="modelPhone">
      </mat-form-field>
      <div>Изделие и неисправности</div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Тип изделия" formControlName="productType">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Серийный номер / IMEI" formControlName="serialNumber">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Модель Аппарата" formControlName="brandPhone">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Неисправность" formControlName="malfunction"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Внешний вид" formControlName="appearance">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Комплектация" formControlName="equipment"></textarea>
      </mat-form-field>
      <div>Дополнительная информация</div>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Заметки приемщика" formControlName="receiverNotes"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Ориентировочная цена" formControlName="estimatedPrice">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Предоплата" formControlName="prepayment">
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="Менеджер"
               aria-label="Number" formControlName="manager" [matAutocomplete]="autoManager">
        <mat-autocomplete #autoManager="matAutocomplete">
          <mat-option *ngFor="let option of filteredManagers | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="Исполнитель"
               aria-label="Number" formControlName="executor" [matAutocomplete]="autoExecutor">
        <mat-autocomplete #autoExecutor="matAutocomplete">
          <mat-option *ngFor="let option of filteredExecutors | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <ng-content select="button"></ng-content>
    </form>
  </div>
</mat-card>
