<app-tempp>
  <h1>Вы смотрите заказы за {{currentMonth}}</h1>
</app-tempp>

<button (click)="check()">проверочная кнопка</button>
<p>Информация о заказах за:
    <select
      [ngModel]="monthYear"
      (change)="selectCurrentMonth($event.target.value)"
    >
      <option *ngFor="let item of monthYearListArr" [value]="item">{{item}}</option>
    </select>
  месяц
</p>
<label>
  Выбрать номер заказа
  <select #currentOrderSelected
    (change)="selectCurrentOrder($event.target.value)"
  >
    <option value="" hidden>Выбрать</option>
    <option *ngFor="let item of ordersMountList" >{{item.numberOrder}}</option>
  </select>

</label>
<div>

<hr>
<!--  <ng-container *ngIf="currentOrderSelected.value" >-->
<!--    <app-form-->
<!--      [currentOrder]="orderOutput$"-->
<!--      (submitted)="updateOrder($event)"-->
<!--    >-->
<!--      <button type="submit" mat-stroked-button color="primary">-->
<!--        Update-->
<!--      </button>-->
<!--    </app-form>-->
<!--  </ng-container>-->
<pre>Информация о заказах за {{currentMonth}} месяц</pre>
<pre>Информация о заказах выбраном заказе {{item | json}} </pre>

<!--<button (click)="check()">проверочная кнопка</button>-->
