<mat-card>
  <mat-form-field>
    <mat-label>Информация о заказах за:</mat-label>
    <mat-select [ngModel]="monthYear" (selectionChange)="selectCurrentMonth($event.value)">
      <mat-option *ngFor="let item of monthYearListArr" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>Сегодня: {{date}}</p>
  <mat-form-field>
    <mat-label>Выбрать номер заказа:</mat-label>
    <mat-select (selectionChange)="selectCurrentOrder($event.value)">
      <mat-option *ngFor="let item of ordersMountList" [value]="item.numberOrder">
        {{item.numberOrder}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
<hr>
