.quick_wrap_col {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.addParts {
  margin: 1rem;
  width: 45%;
}

.statusArr {
  width: 45%;
}

.partsList {
  width: 90%;
}
